
header{
    display: flex;
    background-color: #cacaca;
    padding: 10px;
    justify-content: space-between;
}
main{
    background-color: aliceblue;
}
.dark{
    background-color: rgb(82, 86, 88);
}
.light{
    background-color: rgb(236, 240, 243);
}
.post{
    margin: 10px;
    background-color: blue;
    width: 60%;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
}